<div class="container">
    <div class="row">
        <h1 class="text-primary text-center">Content Projection</h1>
    </div>

    <!-- <app-greetings [name]="'Manish'"></app-greetings>
    <app-greetings [name]="'Abhijeet'"></app-greetings> -->

    <!-- 
        InnerHTML
        Another Component
     -->

    <!-- <app-greetings [name]="'Manish'">
        <h2 class="text-warning">From Root Component</h2>
        <button class="btn btn-warning">Click Me</button>
    </app-greetings>
    <hr>
    <app-greetings [name]="'Abhijeet'">
        <h2 class="text-info">From Root Component</h2>
        <button class="btn btn-info">Click Me</button>
    </app-greetings> -->

    <app-greetings [name]="'Ramakant'">
        <p>This is a Simple Para</p>
        <h3 class="text-warning">From Root Component</h3>
        <button class="btn btn-warning">Click Me</button>
    </app-greetings>
</div>